@charset "UTF-8";
/* CSS Document */
/*
    Body: #fcfaf4
    Content: #eae7d2
    Topbar: #51473d
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing:antialiased;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	font-family: Verdana, Geneva, sans-serif;;
	color: #797066;
	background: #fcfaf4;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

#container {
		margin-top: 9px;
    	margin-left: auto;
    	margin-right: auto;
        width: 600px;
        height: 100%;
        border: solid 1px #cecab9;
    }

#menu{
	
	background-color: #51473d;
	background-image: url(pics/coffey.jpg);
	background-repeat: no-repeat;
	height: 237px;		/* Total height 257px with paddings */
	position: relative;
	border-bottom: 1px solid #FFFFFF;
}

#menu a {
		display: none;
    }

#topbar {
    height: 15px;
    background: #51473d;
    text-align: right;
	font-size: 10px;
    color: #eae7d2;
    font-style: italic;
    padding-top: 5px;
}
   
#content {
	height: 100%;
    background: #eae7d2;
    padding: 25px 10px 16px 10px;
}

#maincontent {
    float: left;
    width: 348px;
    padding-right: 10px;
    border-right: 1px dashed #c0c0c0;
}

#maincontent p {
    font-size: 14px;
    line-height: 1.5;
}

#maincontent img {
    float: left;
    padding-right: 5px;
}

#subcontent {
    float: right;
    width: 210px;
}

#subcontent p {
    font-size: 11px;
    line-height: 2;
}

#bottomcontent {
    padding-top: 16px;
    font-size: 12px;
    font-style: italic;
    clear: both;
}

#maincontent h1 {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 30px;
    padding-bottom: 19px;
}

#subcontent h1 {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 20;
    color: #51473d;
    padding-top: 6px;
    padding-bottom: 19px;
}

#subcontent h2 {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 14px;
    color: #51473d;
    padding-top: 16px;
    padding-bottom: 5px;
}


/* HEAD MENU */

    #menu ul {
	position:absolute;
	bottom: -1px;
	margin-left: 11px;

    font-size: 13px;
    text-transform: capitalize;
}

#menu li {
	display: inline;

}
    
    #menu ul li a {
    	display: inline-block;
        background: #797066;
        text-decoration: none;
        padding: 10px 20px 8px 20px;
        float:left;
        margin-right: 1px;
        border-top: 1px solid #847c73;
        color: #eae7d2;
    }
    
    #menu ul li a:hover {
        color: #eae7d2;
        background: #9c9084;
        cursor: hand;
    }
    
    #menu ul li a:active {
        border-left-color: #1F5873;
        color: #1F5873;
        background: #c4c4c4;
    }
    
    #menu li.active a {
        color: #888076;
        background: #eae7d2;
        border-bottom: 1px solid #eae7d2;
    }
    
    a:link {     
        color:#51473d; 
        text-decoration:none; 
        font-size: 14px;
    }
    a:visited { 
        color:#797066; 
        text-decoration:none;
        font-size: 14px;
    }
    a:hover { 
        color:#56869D; 
        text-decoration:underline;
        font-size: 14px;
    }
    a:active { 
        color:#56869D; 
        text-decoration:underline;
        font-size: 14px;
    }